<div class="alert alert-danger" ng-show="user.loginError">
    <h3>{{user.loginError}}</h3>
    <p>Cookies must be enabled for this application to run in Canvas</p>
    <p>For Chrome:</p>
    <ol>
        <li>Click the menu button (three bars icon) in the right in the top menu and select <strong>Settings</strong></li>
        <li>Click the <strong>Show advanced settings...</strong> link at the bottom.</li>
        <li>Click the <strong>Content settings</strong> button under Privacy</li>
        <li>Un-check the <strong>Block third-party cookies and site data</strong></li>
        <li>OR click Manage exceptions and add "www.kblocks.com" and set to Allow</li>
    </ol>
    <p>For Firefox:</p>
    <ol>
        <li>Click the menu button (three bars icon) in the right in the top menu and select Preferences</li>
        <li>Select the <strong>Privacy</strong> panel.</li>
        <li>Set <strong>Firefox will:</strong> to <strong>Use custom settings for history</strong>.</li>
        <li>Set <strong>Accept third-party cookies</strong> to <strong>From Visited</strong> or <strong>Always</strong></li>
    </ol>
    <p>For Safari:</p>
    <ol>
        <li>Click Safari in the top menu and select Preferences</li>
        <li>Select the <strong>Privacy</strong> tab</li>
        <li>Select <strong>Never</strong> for <strong>Block cookies and other website data</strong></li>
        <li>Reload your browser</li>
    </ol>
</div>
<div ng-hide="user.loginError">
    <h4>{{student.student_name}}, section {{student.section}}</h4>
    <div ng-show="user.has_late" style="margin-left: 120px;">
        <label>Late = </label>
        <div class="late-box"></div>
    </div>
    <div ng-show="user.has_excused" style="margin-left: 120px;">
        <label>Excused = </label>
        <div class="excused-box"></div>
    </div>
    <div ng-show="user.has_unexcused" style="margin-left: 120px;">
        <label>Excused = </label>
        <div class="unexcused-box"></div>
    </div>
    <table class="table table-striped" ng-class="{col1:course.show_columns==1, col2:course.show_columns==2, col3:course.show_columns==3}">
        <tr>
            <td class="text-center" style="width:120px;">Date</td>
            <td ng-if="course.show_attendance" class="text-center">Attendance</td>
            <td ng-if="course.show_cold_calls" class="text-center">Cold Calls</td>
            <td ng-if="course.show_participation" class="text-center">Participation</td>
        </tr>
        <tr ng-repeat="s in course.session_data">
            <td>{{s.session_date}}</td>
            <td ng-if="course.show_attendance" class="text-center" ng-class="{islate:s.late==='1', isexcused:s.excused==='1', isunexcused:s.unexcused==='1'}">{{s.present}}</td>
            <td ng-if="course.show_cold_calls" class="text-center">{{s.cold_call}}</td>
            <td ng-if="course.show_participation" class="text-center">{{s.participation}}</td>
        </tr>
    </table>
</div>
